@page "/login"
@inherits LoginPageBase

<UserLoginDataInput ButtonName="Login" GetUserLoginDataInput="LoginUser">
    <Title>
        <h3>Login in</h3>
    </Title>
</UserLoginDataInput>


<div>@LoginMessage</div>
