

<div class="board">
    @for (int i = 0; i < Board.Count; i++)
    {
        <div class="cell">        
            @foreach (var playerPos in PlayersPositions)
            {
                if(playerPos.Position == i)
                {
                    <label>|@playerPos.Player|</label>
                }
            }
            <label>____________</label>
            <label>@(i+1) |</label>
            <label>@Board[i].OnDisplay()</label>
        </div>
    }
</div>


@code {
    [Parameter]
    public List<MonopolyCell> Board { get; set; }

    [Parameter]
    public List<PlayerUpdateData> PlayersPositions { get; set; }
}
