

<div class="board">
    @for (int i = 0; i < Board.Count; i++)
    {
        <div class="cell">
            <label class="CellIndexDisplay">@(i + 1) |</label>
            @foreach (var playerPos in PlayersPositions)
            {
                if(playerPos.Position == i)
                {
                    <label>
                        -|
                        <label class="PlayerDisplay">@playerPos.Player</label>
                        |-
                    </label>
                    
                }
            }
            <label class="CellInfoDisplay">@Board[i].OnDisplay()</label>
        </div>
    }
</div>


@code {
    [Parameter]
    public List<MonopolyCell> Board { get; set; }

    [Parameter]
    public List<PlayerUpdateData> PlayersPositions { get; set; }
}
