@inherits SomeMultiplayerGameBase

<h5>This is a multipayer test game</h5>

<button @onclick="FindEnemy" disabled="@(IsGameStarted() == true)">Play</button>

<button @onclick="OnUserButtonClick">Your button : @allPoints</button>
<button>Enemy button: @enemyPoints</button>


