@page "/"
@inherits StartupPageBase

<h3 class="Title">Hello (L)User!</h3>

<div>
    <button @onclick="NavigateToLoginPage">Login</button>
    <button @onclick="NavigateToRegisterPage">Register</button>
</div>

<style>
    body{
        background-image: ()
    }
</style>