@page "/"
@inherits StartupPageBase

<h3 class="Title">Hello (L)User!</h3>

<div>
    <button class="buttonStyle" @onclick="NavigateToLoginPage">Login</button>
    <button class="buttonStyle" @onclick="NavigateToRegisterPage">Register</button>
</div>

<div class="background-image"></div>


<style>
    body{
    }
</style>
