@inherits BattleshipGameBase

<BattleshipBoard Board="BattleshipLogic.GetUserBoard()" ButtonClickEvent="UserBoardClicked">
    <Title>
        User Board
    </Title>
</BattleshipBoard>

<button @onclick="FindEnemy">Play</button>

<div>@UserMessage</div>





