@inherits SomeMultiplayerGameBase

<h5>This is a multipayer test game</h5>

<button @onclick="Connect" disabled="@(IsConnected() == true)">Connect</button>
<button @onclick="FindEnemy" disabled="@(isEnemyFound)">Find enemy</button>

<button @onclick="OnUserButtonClick">Your button : @allPoints</button>
<button>Enemy button: @enemyPoints</button>

