@page "/register"
@inherits RegisterPageBase

<UserLoginDataInput ButtonName="Register" GetUserLoginData="RegisterUser">
    <Title>
        <h3>
            Register
        </h3>
    </Title>
</UserLoginDataInput>



