@page "/register"
@inherits RegisterPageBase

<UserLoginDataInput ButtonName="Register" GetUserLoginData="RegisterUser">
    <Title>
        <h1>
            Register
        </h1>
        <h6>
            (Name and Password should be 30 characters max)
        </h6>
    </Title>
</UserLoginDataInput>

<div>@RegisterMessage</div>

