

<div>
    <div class="Title">
        <label>Choose Cell To Sell</label>
        <br />
        <label>Debt Amount: @DebtAmount</label>
    </div>
    @foreach (var Cell in PossibleCellsToSell)
    {
        <button class="btn btn-primary" @onclick="@(() =>SubmitForm(Cell.OnDisplay()))">
            <label>@Cell.OnDisplay()</label>
            <label>Sell for: @Cell.GetBuyingBehavior().GetCosts().Buy</label>
        </button>
        <br />
    }
</div>

@code {
    [Parameter]
    public int DebtAmount { get; set; }

    [Parameter]
    public List<MonopolyCell> PossibleCellsToSell { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        BlazoredModal.SetTitle("Yes Or No");
    }

    private async Task SubmitForm(string CellToSellDisplay)
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(CellToSellDisplay));
    }
}