
<div class="messages">
    @foreach (string message in Messages)
    {
        <div class="message">@message</div>
    }
</div>



@code {
    [Parameter]
    public List<string> Messages { get; set; }
}
