@page "/MultiplayerGame"
@page "/MultiplayerGame/{multiplayerGameName}/{loggedUserName}"
@inherits MultiplayerGamePageBase


<h3>Play the multiplayer game: @MultiplayerGameMethods.ToString(multiplayerGame)</h3>

@switch(multiplayerGame)
{
    case MultiplayerGame.Battleship:
        <BattleshipGame loggedUserName="@loggedUserName"></BattleshipGame>
        break;
    case MultiplayerGame.DemoButtonClickingGame:
        <SomeMultiplayerGame loggedUserName="@loggedUserName"></SomeMultiplayerGame>
        break;
    default:
        <div> there is no such game</div>
        break;
}



