@page "/MultiplayerGame"
@page "/MultiplayerGame/{string:multiplayerGameType}"
@inherits MultiplayerGamePageBase

<h3>Player the multiplayer game: @MultiplayerGameMethods.ToString(multiplayerGame)</h3>

