@page "/MultiplayerGame"
@page "/MultiplayerGame/{multiplayerGameType}/{loggedUserName}"
@inherits MultiplayerGamePageBase


<h3>Player the multiplayer game: @MultiplayerGameMethods.ToString(multiplayerGame)</h3>



<SomeMultiplayerGame loggedUserName="@loggedUserName"></SomeMultiplayerGame>

