@page "/MultiplayerGame"
@page "/MultiplayerGame/{multiplayerGameType}"
@inherits MultiplayerGamePageBase

<button >Enter The Game</button>

<h3>Player the multiplayer game: @MultiplayerGameMethods.ToString(multiplayerGame)</h3>

<SomeMultiplayerGame></SomeMultiplayerGame>

