@page "/MainMenu"
@page "/MainMenu/{loggedUserName}"
@inherits MainMenuBase


<h3>Main Menu</h3>

<button @onclick="NavigateToSingleplayerGamesMenu">Singlplayer Games</button>
<button @onclick="NavigateToMultiplayerGamesMenu">Multiplayer Games</button>
<button @onclick="NavigateToCommunityMenu">Community</button>



