@page "/MultiplayerGamesMenu"
@page "/MultiplayerGamesMenu/{LoggedUserName}"
@inherits MultiplayerGamesMenuBase


<h3>Multiplayer games</h3>


@for(int iii = 0; iii < AllGames.Count; ++iii)
{
    MultiplayerGame game = AllGames[iii];
    <button @onclick="(() => NavigateToMultiplayerGame(game))">@MultiplayerGameMethods.ToString(game)</button>
}


